#comment-form .field
  margin-bottom: 3px

  label
    display: block
  font-size: 0.85em

  input, textarea
    padding: 7px
    border: 1px solid #e6e6e6
    outline: none
    color: #555
    line-height: 1.2em
    background: #f8f8f8

    &:focus
      background: #fff

  input
    width: 350px
    font-size: 1em

  textarea
    width: 550px
    min-height: 150px
    resize: vertical
    font-size: 1em

#comment-form  button
  padding: 5px 15px
  outline: none
  cursor: pointer
  color: #555
  border: 1px solid #e6e6e6
  background: #f8f8f8

  &:hover
    background: #fff

.comments
  margin: 0

.comment-list
  list-style: none

  li
    position: relative
    margin: 0
    padding: 0
    border: 0

.comments > .comment-list
  padding: 0

  & > li
    margin: 30px 0

  .comment-list .comment-list
    padding: 0

.comment-author, .comment-meta, .comment-content
  padding-left: 40px

.comment-author
  .avatar
    position: absolute
    left: 0
    top: 5px

  cite
    font-style: normal

.comment-reply
  position: absolute
  right: 0
  top: 0
  font-size: 12px

#cancel-comment-reply-link
  font-size: 12px
