// post
.post
  .header
    text-align: center

    .title
      margin: 0
      font-size: 1.5em
      font-weight: 400

    .meta
      margin: 0
      padding: 0
      list-style: none
      font-family: 'Raleway', sans-serif
      text-transform: uppercase
      font-size: 0.786em
      line-height: 3.818em
      background: url(img/border.png) no-repeat bottom center

      li
        display: inline-block

  .body
    margin: 1.5em 0 2.5em

  .footer a
    display: inline-block
    margin-left: 5px

.more
  display: block
  text-transform: uppercase
  font-size: 0.786em
  line-height: 3.818em
  text-align: center
  font-family: 'Raleway', sans-serif

.pagenavi a
  text-decoration: none

  &.prev
    float: right
  &.next
    float: left


// Sidebar
.widget
  margin-bottom: 2em
  overflow: hidden

  h3
    margin: 0 0 1em 0
    font-size: 0.857em
    line-height: 1.75em
    font-family: 'Raleway', sans-serif
    text-transform: uppercase
    font-weight: normal
    text-align: center
    background: url(img/border.png) repeat-x 0 11px

    span 
      background: #fff
      padding: 0 6px

    em 
      font-family: 'Niconne', cursive
      font-size: 24px
      text-transform: lowercase
      font-style: normal
      padding-left: 3px
      color: #F9AA89

  ul 
    margin: 0
    padding: 0
    list-style: none

    &.list-left
      width: 45%
      float: left

    &.list-right
      width: 45%
      float: right

  li
    margin: 0 0 8px 0
    padding: 0 0 8px
    border-bottom: 1px dashed #eee

.page-navigator
  margin: 0
  padding: 0
  list-style: none

  li
    margin: 0
    padding: 0
    border: 0
    display: inline-block

  a
    padding: 10px


.prefooter .inner
  +clearfix

.prefooter .widget
  float: left
  padding: 0 10px
  width: 1 / 3 * 100%
  +box-sizing

.site-search
  input
    padding: 6px 10px
    border: 1px solid #e6e6e6
    outline: 0
    -webkit-box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, .075)
    -moz-box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, .075)
    box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, .075)

  button
    border: 0
    background: transparent

.tag-list li
  display: inline-block
  margin: 0 4px
  padding: 8px 0 4px
